<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">

                <!-- Registro de Datos Afectado  -->
                <form ngNativeValidate [formGroup]="formaA" (ngSubmit)="saveNewAfectado()">
                    <div class="modal-content p-5">

                        <!-- Nombre Afectado -->
                        <div class="form-group">
                            <label>Nombre Caso</label>
                            <select id='caso_id' name='caso_id' formControlName="caso_id" class='form-control'
                                required="">
                                <option *ngFor="let caso of caso" [value]="caso.caso_id">
                                    {{caso.caso_numcaso}}
                                </option>
                            </select>
                        </div>

                        <!-- Nombre Afectado -->
                        <div class="form-group">
                            <label>Nombre Afectado</label>
                            <input type="text" name="daf_nombre" class="form-control" formControlName="daf_nombre"
                                required="" pattern="^[a-zA-Z ]+$" title="Solo se permiten letras">

                        </div>

                        <!-- Apellido Afectado -->
                        <div class="form-group">
                            <label>Apellido Afectado</label>
                            <input type="text" name="daf_apellido" class="form-control" formControlName="daf_apellido"
                                required="" pattern="^[a-zA-Z ]+$" title="Solo se permiten letras">
                        </div>

                        <!-- C.i afectado -->
                        <!-- <div class="form-group">
                            <label>Cedula</label>
                            <input type="text" name="daf_ci" class="form-control" formControlName="daf_ci" max="10"
                                maxlength="10" pattern="^[0-9]+$" title="solo se permiten numeros">


                        </div > -->

                        <div class="form-group ">
                            <label>Cedula</label>

                            <input width="50" type="text" id="daf_ci" class="form-control" formControlName="daf_ci"
                                max="10" min="10" maxlength="10" minlength="10" pattern="^[0-9]+$"
                                title="solo se permiten numeros">
                            <br>
                        </div>

                        <!-- fecha_nacimiento -->
                        <div class="form-group col-xl-4 col-lg-4">
                            <label><b> Fecha de Nacimiento </b> </label>
                            <input type="date" name="daf_fecha_nacimiento" class="form-control"
                                formControlName="daf_fecha_nacimiento">
                        </div>

                        <!-- Edad -->
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="text" name="daf_edad" class="form-control" formControlName="daf_edad"
                                maxlength="2" pattern="^[0-9]+$" title="solo se permiten numeros">

                        </div>

                        <!-- Identidad -->
                        <div class="form-group">
                            <label>Identidad</label>
                            <select id='iden_id' name='iden_id' formControlName="iden_id" class='form-control'
                                required="">
                                <option *ngFor="let identidad of identidad" [value]="identidad.iden_id">
                                    {{identidad.iden_nombre}}
                                </option>
                            </select>
                        </div>

                        <!-- Genero -->
                        <div class="form-group">
                            <label>Genero</label>

                            <select id='gene_id' name='gene_id' formControlName="gene_id" class='form-control'
                                required="">
                                <option *ngFor="let gen of genero" [value]="gen.gene_id">
                                    {{gen.gene_nombre}}
                                </option>
                            </select>
                        </div>

                        <!-- Discapacidad -->
                        <div class="form-group">
                            <label>Discapacidad</label>
                            <select id='dis_id' name='dis_id' formControlName="dis_id" class='form-control' required="">
                                <option *ngFor="let dis of discapacidad" [value]="dis.dis_id">
                                    {{dis.dis_nombre}}
                                </option>
                            </select>
                        </div>
                        <!-- 
                        <div class="form-group">
                            <label>Provincia</label>
                            <input type="text" name="prov_id" class="form-control" formControlName="prov_id">
                        </div>

                        <div class="form-group">
                            <label>Canton</label>
                            <input type="text" name="can_id" class="form-control" formControlName="can_id">
                        </div>
 -->
                        <div class="form-group">
                            <label>Parroquia</label>
                            <select id='parr_id' name='parr_id' formControlName="parr_id" class='form-control'
                                required="">
                                <option *ngFor="let parro of parroquia" [value]="parro.parr_id">
                                    {{parro.parr_nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" name="daf_direccion" class="form-control" required=""
                                formControlName="daf_direccion">
                        </div>

                        <div class="form-group">
                            <label>Teléfono/Celular</label>
                            <input type="text" name="daf_telefono" class="form-control" required="" max="10"
                                maxlength="10" pattern="^[0-9]+$" title="solo se permiten numeros"
                                formControlName="daf_telefono">
                        </div>
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input type="text" name="daf_email" class="form-control" required=""
                                formControlName="daf_email">
                        </div>

                        <div class="form-group">
                            <label>Observación</label>
                            <textarea type="text" name="daf_obsevacion" class="form-control" required=""
                                formControlName="daf_obsevacion">
                                </textarea>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">
                                    Agregar Afectado
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>