<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" style="text-align: right;widows: 100">
                Numero del Caso: {{ caso.caso_numcaso}}
            </div>

        </div>
    </div>
</div>