<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">404</font>
                </font>
            </h1>
            <h3 class="text-uppercase">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Página no encontrada !</font>
                </font>
            </h3>
            <p class="text-muted m-t-30 m-b-30">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Parece que no encontraste la Ruta deseada</font>
                </font>
            </p>
            <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Regresar</font>
                </font>
            </a>
        </div>
        <footer class="footer text-center">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">© {{anio}} Admin Pro.</font>
            </font>
        </footer>
    </div>
</section>