<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
        attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
        [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<br>

<form ngNativeValidate [formGroup]="nForm" (ngSubmit)="upload()">

    <label for="file-upload" class="subir">
        <input class="subir" type="file" (change)="selectFile($event)" accept=".docx, .pdf">
    </label>

    <div class="form-group" col-xl-2>
        <label> <b>Seleccione el Id </b></label>
        <select id='caso_id' name="caso_id" formControlName="caso_id" class="form-control" required>
            <option value="{{archivoCaso}}">Id del archivo</option>
        </select>

    </div>
    <button class="btn btn-success btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
        [disabled]="!selectedFiles" (click)="upload()" type="submit">Subir Archivo</button>
</form>