<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">LISTA DE CASOS PARA ANALIZAR</h4>
                <h6 class="card-subtitle">
                    Podemos observar todos los casos registrados y hacer el respectivo análisis
                </h6>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar ..." name="filtroCaso"
                        [(ngModel)]="filtroCaso">
                </div>

                <div class="table-responsive m-t-40">
                    <table id="example1" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    Nro. Caso
                                    <br />
                                </th>
                                <th>
                                    Fecha Registro
                                    <br />
                                </th>

                                <th>Fecha de ingreso</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of casosli | filter:filtroCaso  | paginate:{itemsPerPage:6,
                currentPage: pageActual}; let i = index ">

                                <th scope="row">{{i+1}}</th>
                                <th scope="row">{{ item.caso_numcaso }}</th>

                                <td>{{ item.caso_fechareg | date: "yyyy-MM-dd" }}</td>
                                <td>{{ item.caso_fechaingreso | date: "yyyy-MM-dd" }}</td>
                                <td>
                                    <button class='btn btn-success' routerLink="{{item.caso_numcaso }}">Analizar
                                        Caso</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>