<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">

                <!-- Registro de Datos Afectado  -->
                <form ngNativeValidate [formGroup]="formaA" (ngSubmit)="saveNewDenunciante()">
                    <div class="modal-content p-5">

                        <!-- Nombre Afectado -->
                        <div class="form-group">
                            <label>Nombre Caso</label>
                            <select id='caso_id' name='caso_id' formControlName="caso_id" class='form-control'
                                required="">
                                <option *ngFor="let caso of caso" [value]="caso.caso_id">
                                    {{caso.caso_numcaso}}
                                </option>
                            </select>
                        </div>

                        <!-- Nombre Afectado -->
                        <div class="form-group">
                            <label>Nombre Denunciante</label>
                            <input type="text" name="dden_nombre" class="form-control" formControlName="dden_nombre"
                                required="" pattern="^[a-zA-Z ]+$" title="Solo se permiten letras">

                        </div>

                        <!-- Apellido Afectado -->
                        <div class="form-group">
                            <label>Apellido Denunciante</label>
                            <input type="text" name="dden_apellido" class="form-control" formControlName="dden_apellido"
                                required="" pattern="^[a-zA-Z ]+$" title="Solo se permiten letras">
                        </div>

                        <!-- C.i afectado -->
                        <div class="form-group">
                            <label>Cedula</label>
                            <input id="dden_ci" type="text" name="dden_ci" class="form-control"
                                formControlName="dden_ci" max="10" maxlength="10" pattern="^[0-9]+$"
                                title="solo se permiten numeros">
                            <button type="button" name="button"
                                class="btn waves-effect waves-light btn-rounded btn-xs btn-info"
                                onclick=validarDenunciante()>Validar</button>
                            <div id="salida"></div>
                        </div>

                        <!-- <div>
                            <label>Cedula</label>

                            <input type="text" id="daf_ci" class="form-control" formControlName="daf_ci" max="10" min="10" maxlength="10" minlength="10" pattern="^[0-9]+$"
                                title="solo se permiten numeros">
                             <button type="button" name="button" onclick=validar()>Validar</button>
                            <div id="salida"></div> 

                        </div> -->

                        <div class="form-group">
                            <label>Relacion Afectado</label>
                            <input type="text" name="dden_relacion_afectado" class="form-control"
                                formControlName="dden_relacion_afectado">
                        </div>


                        <!-- Identidad -->
                        <div class="form-group">
                            <label>Identidad</label>
                            <select id='iden_id' name='iden_id' formControlName="iden_id" class='form-control'
                                required="">
                                <option *ngFor="let identidad of identidad" [value]="identidad.iden_id">
                                    {{identidad.iden_nombre}}
                                </option>
                            </select>
                        </div>

                        <!-- Genero -->
                        <div class="form-group">
                            <label>Genero</label>

                            <select id='gene_id' name='gene_id' formControlName="gene_id" class='form-control'
                                required="">
                                <option *ngFor="let gen of genero" [value]="gen.gene_id">
                                    {{gen.gene_nombre}}
                                </option>
                            </select>
                        </div>

                        <!-- 
                        <div class="form-group">
                            <label>Provincia</label>
                            <input type="text" name="prov_id" class="form-control" formControlName="prov_id">
                        </div>

                        <div class="form-group">
                            <label>Canton</label>
                            <input type="text" name="can_id" class="form-control" formControlName="can_id">
                        </div>
 -->
                        <div class="form-group">
                            <label>Tipo Persona</label>
                            <select id='tper_id' name='tper_id' formControlName="tper_id" class='form-control'
                                required="">
                                <option *ngFor="let person of tpersona" [value]="person.tper_id">
                                    {{person.tper_nombre}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Parroquia</label>
                            <select id='parr_id' name='parr_id' formControlName="parr_id" class='form-control'
                                required="">
                                <option *ngFor="let parro of parroquia" [value]="parro.parr_id">
                                    {{parro.parr_nombre}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" name="dden_direccion" class="form-control" required=""
                                formControlName="dden_direccion">
                        </div>

                        <div class="form-group">
                            <label>Teléfono/Celular</label>
                            <input type="text" name="dden_telefono" class="form-control" required="" max="10"
                                maxlength="10" pattern="^[0-9]+$" title="solo se permiten numeros"
                                formControlName="dden_telefono">
                        </div>
                        <div class="form-group">
                            <label>Correo Electronico</label>
                            <input type="text" name="dden_email" class="form-control" required=""
                                formControlName="dden_email" type="email">
                        </div>

                        <div class="form-group">
                            <label>Observación</label>
                            <textarea type="text" name="dden_observaciones" class="form-control" required=""
                                formControlName="dden_observaciones">
                                </textarea>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">
                                    Agregar Denunciante
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>