<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <h6>{{caso?.caso_numcaso}}</h6>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body">
                    <small class="text-muted p-t-30 db">Tipo de Denuncia</small>
                    <h6>{{caso?.t_tipo_denuncium?.tdenun_nombre}}</h6>

                    <small class="text-muted p-t-30 db">Procesamiento de Conocimiento</small>
                    <h6>{{caso?.t_procesamiento_conocimiento?.proco_nombre}}</h6>

                    <small class="text-muted p-t-30 db">Derecho Amenazado</small>
                    <h6>{{caso?.tipo_derecho_amenaza?.tda_nombre}},
                        <b>{{caso.tipo_derecho_amenaza?.t_tipos_derecho?.tder_nombre}}</b> </h6>

                    <small class="text-muted p-t-30 db">Motivo</small>
                    <h6>{{caso?.caso_motivo}}</h6>

                    <small class="text-muted p-t-30 db">Tipo de Derecho Amenzado Violentado</small>
                    <h6>{{caso?.t_derecho_amenazado_violentado?.dav_nombre}}</h6>

                    <small class="text-muted p-t-30 db">Observaciones Del Caso</small>
                    <h6>{{caso?.caso_observaciones}}</h6>

                    <small class="text-muted p-t-30 db">Fecha de Registro</small>
                    <h6>{{caso?.caso_fechareg| date: "yyyy-MM-dd"}}</h6>

                    <small class="text-muted p-t-30 db">Fecha de Ingreso</small>
                    <h6>{{caso?.caso_fechaingreso| date: "yyyy-MM-dd"}}?</h6>

                    <small class="text-muted p-t-30 db">Activo</small>
                    <h6>{{caso?.published}}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#afec"
                            role="tab">Afectado</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#denunciado"
                            role="tab">Denunciado</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#denunciante"
                            role="tab">Denunciate</a>
                    </li>
                    <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#avocatoria"
                            role="tab">Avocatorias</a> -->
                    <!--  </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#audiencias"
                            role="tab">Audiencias</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#resoluciones"
                            role="tab">Resoluciones</a>
                    </li> -->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="afec" role="tabpanel">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">
                                    <div class="sl-right">

                                        <small class="text-muted p-t-30 db">Nombres</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_nombre}}</h6>

                                        <small class="text-muted p-t-30 db">Apellidos</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_apellido}}</h6>

                                        <small class="text-muted p-t-30 db">Cedula</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_ci}}</h6>

                                        <h6>{{caso?.t_datosafectados[0]?.daf_edad}}</h6>
                                        <small class="text-muted p-t-30 db">Edad</small>

                                        <small class="text-muted p-t-30 db">Genero</small>
                                        <h6>{{caso?.t_datosafectados[0]?.t_genero?.gene_nombre}}</h6>

                                        <small class="text-muted p-t-30 db">Identidad</small>
                                        <h6>{{caso?.t_datosafectados[0]?.t_identidad?.iden_nombre}}</h6>

                                        <small class="text-muted p-t-30 db">Discapacidad</small>
                                        <h6>{{caso?.t_datosafectados[0]?.t_discapacidad?.dis_nombre}}</h6>

                                        <small class="text-muted p-t-30 db">Parroquia</small>
                                        <h6>{{caso?.t_datosafectados[0]?.t_parroquia?.parr_nombre}}</h6>

                                        <small class="text-muted p-t-30 db">Dirección</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_direccion}}</h6>

                                        <small class="text-muted p-t-30 db">Telefono</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_telefono}}</h6>

                                        <small class="text-muted p-t-30 db">Email</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_email}}</h6>

                                        <small class="text-muted p-t-30 db">Observaciones</small>
                                        <h6>{{caso?.t_datosafectados[0]?.daf_obsevacion}}</h6>


                                    </div>
                                </div>

                                <!-- <div style="text-align: right;width:700">
                                    <button type="button" routerLink="{{caso.t_datosafectados[0].daf_id}}"
                                        class="btn waves-effect waves-light btn-sm btn-success">EDITAR</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="denunciado" role="tabpanel">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">
                                    <div class="sl-right">

                                        <small class="text-muted p-t-30 db">Nombres</small>
                                        <h6>{{caso?.t_denunciados[0].dag_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Apellidos</small>
                                        <h6>{{caso?.t_denunciados[0].dag_apellido | json}}</h6>

                                        <small class="text-muted p-t-30 db">Cedula</small>
                                        <h6>{{caso?.t_denunciados[0].dag_ci | json}}</h6>

                                        <small class="text-muted p-t-30 db">Relacion Con El Afectado</small>
                                        <h6>{{caso?.t_denunciados[0].dag_relacion_afectado | json}}</h6>

                                        <small class="text-muted p-t-30 db">Tipo de Persona</small>
                                        <h6>{{caso?.t_denunciados[0].t_tipo_persona?.tper_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Genero</small>
                                        <h6>{{caso?.t_denunciados[0].t_genero?.gene_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Identidad</small>
                                        <h6>{{caso?.t_denunciados[0].t_identidad?.iden_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Parroquia</small>
                                        <h6>{{caso?.t_denunciados[0].t_parroquia?.parr_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Dirección</small>
                                        <h6>{{caso?.t_denunciados[0].dag_direccion | json}}</h6>

                                        <small class="text-muted p-t-30 db">Telefono</small>
                                        <h6>{{caso?.t_denunciados[0].dag_telefono| json}}</h6>

                                        <small class="text-muted p-t-30 db">Email</small>
                                        <h6>{{caso?.t_denunciados[0].dag_email| json}}</h6>
                                        <small class="text-muted p-t-30 db">Observaciones</small>
                                        <h6>{{caso?.t_denunciados[0].dag_observacion| json}}</h6>

                                    </div>
                                </div>
                                <!-- <div style="text-align: right;width:700">
                                    <button type="button"
                                        class="btn waves-effect waves-light btn-sm btn-success">EDITAR</button>
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <!--Tercer tab-->

                    <div class="tab-pane" id="denunciante" role="tabpanel">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">
                                    <div class="sl-right">

                                        <small class="text-muted p-t-30 db">Nombres</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_nombre | json}}</h6>

                                        <small class="text-muted p-t-30 db">Apellidos</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_apellido| json}}</h6>

                                        <small class="text-muted p-t-30 db">Cedula</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_ci| json}}</h6>

                                        <small class="text-muted p-t-30 db">Relacion Con El Afectado</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_relacion_afectado| json}}</h6>

                                        <small class="text-muted p-t-30 db">Edad</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_edad| json}}</h6>

                                        <small class="text-muted p-t-30 db">Tipo de Persona</small>
                                        <h6>{{caso?.t_denunciantes[0]?.t_tipo_persona?.tper_nombre| json}}</h6>

                                        <small class="text-muted p-t-30 db">Genero</small>
                                        <h6>{{caso?.t_denunciantes[0]?.t_genero?.gene_nombre| json}}</h6>

                                        <small class="text-muted p-t-30 db">Identidad</small>
                                        <h6>{{caso?.t_denunciantes[0]?.t_identidad?.iden_nombre| json}}</h6>

                                        <small class="text-muted p-t-30 db">Parroquia</small>
                                        <h6>{{caso?.t_denunciantes[0]?.t_parroquia?.parr_nombre| json}}</h6>

                                        <small class="text-muted p-t-30 db">Dirección</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_direccion| json}}</h6>

                                        <small class="text-muted p-t-30 db">Telefono</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_telefono| json}}</h6>

                                        <small class="text-muted p-t-30 db">Email</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_email| json}}</h6>

                                        <small class="text-muted p-t-30 db">Observaciones</small>
                                        <h6>{{caso?.t_denunciantes[0]?.dden_observaciones| json}}</h6>


                                    </div>
                                </div>
                                <!-- <div style="text-align: right;width:700">
                                    <button type="button"
                                        class="btn waves-effect waves-light btn-sm btn-success">EDITAR</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!--Cuarto tab-->
                    <!-- <div class="tab-pane active" id="avocatoria" role="tabpanel">
                        <div class="card-body">
                            <div class="profiletimeline">
                                <div class="sl-item">

                                    <div class="sl-right" *ngFor="let avo of caso.t_analisis_casos">
                                        <small class="text-muted p-t-30 db"><b> Id Analisis del Caso</b> </small>
                                        <h6>{{avo.anc_id}}</h6>
                                        <div>
                                            <hr>
                                        </div>
                                        <div *ngFor="let avoca of avo.t_avocatoria">

                                            <small class="text-muted p-t-30 db"><b> Id Avocatoria</b> </small>
                                            <h6>{{avoca.avo_id}}</h6>
                                            <small class="text-muted p-t-30 db">Fecha de Conciliación</small>
                                            <h6>{{avoca.avo_fecha_conciliacion | date: "yyyy-MM-dd"}}</h6>
                                            <small class="text-muted p-t-30 db">Hora de Avocatoria</small>
                                            <h6>{{avoca.avo_hora_audiencia}}</h6>
                                            <small class="text-muted p-t-30 db">Observaciones</small>
                                            <h6>{{avoca.avo_observaciones}}</h6>
                                        </div>

                                        <div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>




<div class="container" style="width:400px">
    <div style="color: blue; margin-bottom: 20px">
    </div>
    <app-form-upload [archivoCaso]="caso?.caso_id"></app-form-upload>
</div>
&nbsp;

<div>
    <div class="container">
        <div class="" align=center>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">
                Ver Archivos
            </button>&nbsp;

        </div>
        <!-- ////////////////////////////////// ARCHIVOS /////////////////////////////////// -->
        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-15 col-lg-20">
                        <tr class="modal-dialog" role="document">
                        <tr class="container">
                            <div class="modal-content">
                                <div class="modal-header  bg-primary text-white">
                                    <a>Archivos Del Caso</a>
                                </div>
                                <div class="table-responsive m-t-40">
                                    <table id="example1"
                                        class="display nowrap table table-hover table-striped table-bordered"
                                        cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    Nombre del Archivo
                                                    <br />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of caso.files  | paginate:{itemsPerPage:6,
                currentPage: pageActual}; let i = index ">

                                                <th scope="row">{{i+1}}</th>
                                                <td><a href="http://localhost:8080/api/file/{{item?.id}}">
                                                        {{item?.name}}</a></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn waves-effect waves-light btn-sm btn-success "
                                        data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>