<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white" align='center'> Ingresar Caso</h4>
            </div>
            <div class="card-body">
                <form ngNativeValidate [formGroup]="nForm" (ngSubmit)="saveNewCaso()">

                    <div class="form-body">
                        <h3 class="card-title">Info Caso</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nro.Caso</label>

                                    <input placeholder="JCPD-numerodelCaso" id="caso"
                                        onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()"
                                        class="form-control" formControlName="caso_numcaso" name="caso_numcaso"
                                        type="text" required="">

                                    <small class="form-control-feedback"> Ingrese una identifacaión del caso </small>
                                </div>
                            </div>


                            <!--/span-->

                            <!-- div para  Tipo de denuncia  -->

                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo de denuncia:</label>

                                    <select id='tdenun_id' name="tipoDenuncia" formControlName="tdenun_id"
                                        class='form-control' required="">

                                        <option *ngFor="let tipoDenuncia of tdenun" [value]="tipoDenuncia.tdenun_id">
                                            {{tipoDenuncia.tdenun_nombre}}</option>
                                    </select>
                                    <small class="form-control-feedback"> Select your tipo denuncia </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        Procedimiento de Conocimientos:</label>
                                    <select id='proco_id' name='proco_id' formControlName="proco_id"
                                        class='form-control' required="">
                                        <option *ngFor="let proco of proco" [value]="proco.proco_id">
                                            {{proco.proco_nombre}}
                                        </option>
                                    </select>
                                    <small class="form-control-feedback"> Select your procesamiento </small>
                                </div>
                            </div>
                            <!-- Div para el motivo -->
                            <!--/span-->
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Date of Birth</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div> -->
                            <!--/span-->
                        </div>

                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Motivo:</label>
                                    <textarea type="text" id="Motivo" placeholder="Motivo" required=""
                                        class="form-control" rows="8" formControlName="caso_motivo"></textarea>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Observaciones:</label>
                                    <textarea type="text" id="Observaciones" name="caso_observaciones"
                                        placeholder="Observaciones" class="form-control" rows="8" required=""
                                        formControlName="caso_observaciones"> </textarea>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Registro:</label>
                                    <input type="date" required="" name="caso_fechareg" class="form-control"
                                        formControlName="caso_fechareg" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Ingreso:</label>

                                    <input type="date" required="" name="caso_fechaingreso" class="form-control"
                                        formControlName="caso_fechaingreso" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <!--DATOS DEL DERECHO AMENAZADO O VIOLENTADO  -->

                        <!--/row-->
                        <h3 class="box-title m-t-40">Datos del derecho amenazado o violentado</h3>
                        <hr>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Derecho amenazado o violentado:</label>
                                    <select required="" name="dav_id" formControlName="dav_id" class='form-control'>
                                        <option *ngFor="let ttda of ttda" [value]="ttda.dav_id">{{ttda.dav_nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Clasificacion del Derecho amenazado o violentado</label>

                                    <select name="tda_id" required="" class='form-control' formControlName="tda_id">
                                        <option *ngFor="let tipoderechoA of tda" [value]="tipoderechoA.tda_id">
                                            {{tipoderechoA.tda_nombre}}</option>
                                    </select>

                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions" style="text-align: right;width:700">
                        <button type="submit" class="btn btn-success" (click)="saveNewCaso($event)"> <i
                                class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-inverse" routerLink="/casos-list">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>