<div class="row">
    <div class="col-12">

        <div class="card">

            <div class="card-body">

                <div class="table-responsive m-t-40">
                    <div class="row animated fadeIn">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <input type="text" class="form-control" placeholder="Buscando usuario"
                                        name="filterPost" [(ngModel)]="filterPost">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row animated fadeIn" *ngIf="cargando">
                        <div class="col-sm-12">

                            <div class="alert alert-warning text-center">

                                <strong>Cargando</strong>
                                <br>
                                <i class="fa fa-refresh fa-spin fa-2x"></i>
                                <br>
                                <span>Espere Por Favor</span>
                            </div>

                        </div>
                    </div>
                    <div style="text-align: right;width:700">
                        <button routerLink='/register' data-toggle="modal" class="btn btn-info text-white">+
                            Create Nuevo
                            Usuario</button>
                    </div>

                    <div class="row animated fadeIn" *ngIf="!cargando">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <h3 class="card-title"> Usuarios Registrados</h3>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombres</th>
                                                <th>Apellidos</th>
                                                <th>Cedula</th>
                                                <th>Correo</th>

                                                <th>Rol</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usuario of usuarios | usuariosFilter:filterPost | usuariosFilter:filtroPost |
                                      paginate:{itemsPerPage:4, currentPage: pageActual}; let i = index">
                                                <th>{{usuario.usu_nombres}}</th>
                                                <th>{{usuario.usu_apellidos}}</th>
                                                <th>{{usuario.usu_cedula}}</th>
                                                <th>{{usuario.usu_email}}</th>
                                                <th>
                                                    <select [(ngModel)]="usuario.usu_rol" name="usu_rol"
                                                        class="form-control">
                                                        <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                                                        <option value="USER_ROLE">USER_ROLE</option>
                                                    </select>

                                                </th>
                                                <th>
                                                    <button (click)="guardarUsuario(usuario)" class="btn btn-primary">
                                                        <i class="fa fa-save"></i>
                                                    </button>
                                                    <button (click)="borrarUsuario(usuario)" class="btn btn-danger">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>