<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">


      <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="ingresar( f )">
        <a href="javascript:void(0)" class="text-center db"><img src="assets/images/jcpd/jcpd2.png" width="40%"
            alt="Home" /></a>
        <div class="form-group m-t-40">

          <div class="col-xs-12">
            <input [ngModel]="usu_email" name="usu_email" class="form-control" type="email" required
              placeholder="Correo del usuario">
          </div>


        </div>
        <div class="form-group">


          <div class="col-xs-12">
            <input ngModel name="usu_password" class="form-control" type="password" required placeholder="Contraseña">
          </div>


        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">


              <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox"
                class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> Recuérdame </label>

            </div>

          </div>
        </div>


        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recover Password</h3>
            <p class="text-muted">
              Enter your Email and instructions will be sent to you!
            </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" required="" placeholder="Email" />
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->