<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="registrarUsuario()"
                    class="form-horizontal form-material">
                    <div class="modal-content p-5">

                        <h3 class="box-title m-t-40 m-b-0 " align="center">Nuevo Registro</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input formControlName="usu_nombres" name="usu_nombres" class="form-control" type="text"
                                    required="" placeholder="Nombre" pattern="^[a-zA-Z ]+$"
                                    title="Solo se permiten letras" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input formControlName="usu_apellidos" name="usu_apellidos" class="form-control"
                                    type="text" required="" placeholder="Apellidos" pattern="^[a-zA-Z ]+$"
                                    title="Solo se permiten letras" />
                            </div>
                        </div>


                        <div class="form-group ">

                            <!--  <input placeholder="Cedula" type="text" id="usu_cedula" class="form-control"
                                formControlName="usu_cedula" max="10" min="10" maxlength="10" minlength="10"
                                pattern="^[0-9]+$" title="solo se permiten numeros">
                            <br> -->
                            <!-- <button type="button" name="button"
                                class="btn waves-effect waves-light btn-rounded btn-xs btn-info"
                                onclick=validarCedula()>Validar</button>
                            <div id="salida"></div> -->

                            <input placeholder="Cedula" type="text" class="form-control" [(ngModel)]="user.usu_cedula"
                                formControlName="usu_cedula" (change)="validadorDeCedula(user.usu_cedula)"
                                maxlength="10" minlength="10" minlength="10" required="" pattern="^[0-9]+$" title="solo
                                se permiten
                                numeros">
                            <small class="text-danger" *ngIf="!verificador">Cedula incorrecta</small>
                            <small class="" style='color:rgb(6, 238, 111)' *ngIf="verificador">Cedula Correcta</small>

                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input formControlName="usu_email" name="usu_email" class="form-control" type="email"
                                    required="" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input formControlName="usu_password" minlength="6" name="usu_password"
                                    class="form-control" type="password" required="" placeholder="Contraseña"
                                    pattern="(?=.*\d)(?=.*[a-záéíóúüñ]).*[A-ZÁÉÍÓÚÜÑ].*"
                                    title="Debe tener al menos una mayúscula, una minúscula y un dígito" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input formControlName="password2" name="password2" class="form-control" type="password"
                                    required="" placeholder="Confirmar Contraseña" />
                            </div>
                        </div>

                        <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                            <p class="text-danger">
                                Las contraseñas deben de ser iguales
                            </p>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">
                                    Agregar un Usuario
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>