<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">LISTA DE CASOS REGISTRADOS</h4>
        <h6 class="card-subtitle">
          Podemos observar todos los casos registrados y hacer un seguimiento
        </h6>
        <div style="text-align: right;width:700">
          <button routerLink='/casos-form' data-toggle="modal" class="btn btn-info text-white">+
            Create Nuevo
            Caso</button>
        </div>
        <br>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar ..." name="filtroCaso" [(ngModel)]="filtroCaso">
        </div>

        <div class="table-responsive m-t-40">
          <table id="example1" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"
            width="100%">


            <thead>
              <tr>
                <th>#</th>
                <th>
                  Nro. Caso
                  <br />
                </th>
                <th>
                  Fecha Registro
                  <br />
                </th>

                <th>Fecha de ingreso</th>
                <th></th>
                <th> Nro. Vistas</th>
                <th> Desactivar</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of casosli | filter:filtroCaso  | paginate:{itemsPerPage:6,
                currentPage: pageActual}; let i = index ">

                <th scope="row">{{i+1}}</th>
                <th scope="row">{{ item.caso_numcaso }}</th>

                <td>{{ item.caso_fechareg | date: "yyyy-MM-dd" }}</td>
                <td>{{ item.caso_fechaingreso | date: "yyyy-MM-dd" }}</td>
                <td>
                  <button class='boton' routerLink="{{item.caso_numcaso }}">Ver Caso</button>
                </td>
                <td>{{ item.viewCount }}</td>
                <td>
                  <div class="overview-cell center">


                    <span (click)="togglePublishState(item)" class="dot publish-icon"
                      [ngClass]="{ online: item.published, offline: !item.published }"></span>

                  </div>

                </td>
                <th>
                  <button class="btn btn-primary">
                    <i class="fa fa-save"></i>
                  </button>
                  <button class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </th>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4"></td>
              </tr>
            </tfoot>
          </table>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>