<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate [formGroup]="nForm" (ngSubmit)="guardarAvocatoria()">

                    <div class="form-group">
                        <label class="control-label"><b>
                                Analisis del caso
                            </b></label>

                        <select id='anc_id' name='anc_id' formControlName="anc_id" class='form-control'>
                            <option *ngFor="let proco of proco" [value]="proco.anc_id">
                                {{proco.proco_nombre}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-xl-4 col-lg-4">

                        <label><b>Fecha de Conciliación:</b> </label>
                        <input type="date" required="" name="avo_fecha_conciliacion" class="form-control"
                            formControlName="avo_fecha_conciliacion">
                    </div>
                    <!-- Div para observaciones -->
                    <div class="form-group">
                        <label><b>Observaciones:</b></label>
                        <textarea type="text" id="avo_observaciones" name="avo_observaciones"
                            placeholder="Observaciones" class="form-control" rows="5" required=""
                            formControlName="avo_observaciones"> </textarea>
                    </div>
                    <div class="form-group">
                        <label><b>Hora:</b></label>
                        <input type="time" id="avo_hora_audiencia" name="avo_hora_audiencia" placeholder="Hora"
                            class="form-control" rows="5" required="" formControlName="avo_hora_audiencia">
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button
                                class="btn btn-info btn-lg btn-block text-uppercase            waves-effect waves-light"
                                type="submit">
                                Agregar una Avocatoria
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>
<div class="col-12">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title"> Usuarios Registrados</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre Analisis de Caso</th>
                            <th>Fecha de Conciliación</th>
                            <th>Observaciones</th>
                            <th>Hora De Avocatora</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let avo of avo |
                                      paginate:{itemsPerPage:4, currentPage: pageActual}; let i = index">
                            <th>{{avo.anc_id}}</th>
                            <th>{{avo.avo_fecha_conciliacion}}</th>
                            <th>{{avo.avo_observaciones}}</th>
                            <th>{{avo.avo_hora_audiencia}}</th>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </div>

</div>