<div class="row">
  <div class="col-12
    ">
    <div class="card">
      <div class="card-body">
        <div>
          <div>
            <div class="chart">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]=""
                [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>