<div class="col-12">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title"> Resoluciones Registradas</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre Analisis de Caso</th>
                            <th>Fecha de Conciliación</th>
                            <th>Observaciones</th>
                            <th>Hora De Avocatora</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res of listarRes |
                                      paginate:{itemsPerPage:4, currentPage: pageActual}; let i = index">
                            <th>{{res.anc_id}}</th>
                            <th>{{res.avo_fecha_conciliacion}}</th>
                            <th>{{res.avo_observaciones}}</th>
                            <th>{{res.avo_hora_audiencia}}</th>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </div>

</div>