<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title"> Audiencias Registradas</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre Analisis </th>
                            <th>Fecha de </th>
                            <th>Observaciones</th>
                            <th>Hora De </th>
                            <th>Hora De Avocator</th>
                            <th>Hora De Avocat</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aud of audi">
                            <th>{{aud.rau_fecha_conciliacion | date: "yyyy-MM-dd" }}</th>
                            <th>{{aud.rau_hora_audiencia}}</th>
                            <th>{{aud.rau_observacion}}</th>
                            <th>{{aud.rau_resumen}}</th>
                            <th>{{aud.rau_conciliacion}}</th>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
            </div>
        </div>
    </div>

</div>